
/* nav */

.nav {
  background-color: #33acb9;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.nav img {
  width: 220px;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #33acb9;
}

.nav li a {
  display: block;
  padding: 20px;
  text-decoration: none;
}

.nav li a:hover,
.nav .menu-btn:hover {
  color: #ffffff96;
}

.nav .logo {

  float: left;
  padding: 20px 20px;
}

/* menu */

.nav .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.nav .menu-icon {
  cursor: pointer;
  float: right;
  padding: 37px 20px;
  position: relative;
  user-select: none;
}

.nav .menu-icon .nav-icon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.nav .menu-icon .nav-icon:before,
.nav .menu-icon .nav-icon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.nav .menu-icon .nav-icon:before {
  top: 5px;
}

.nav .menu-icon .nav-icon:after {
  top: -5px;
}

/* menu btn */

.nav .menu-btn {
  display: none;
}

.nav .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.nav .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.nav .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top:0;
}

.nav .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top:0;
}


/* 48em = 768px @ 16pt font */

@media (min-width: 48em) {
  .nav li {
    float: left;
  }
  .nav li a {
    padding: 26px 30px;
  }
  .nav .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .nav .menu-icon {
    display: none;
  }
}